<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <h1>Hurricane Homepage</h1>
  <br>
  <a href="http://127.0.0.1:5000/tropical_storms">Tropical Storm Frequency by Decade</a>
  <a href="http://127.0.0.1:5000/api/v1.0/HurricaneLocationData">Storm Location(Country) Dashboard</a>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

</body>

</html>
